*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.firebaserc
/functions
firebase.json
.idea/caches/build_file_checksums.ser
.idea/caches/build_file_checksums.ser
.idea/caches/build_file_checksums.ser
