*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/caches/build_file_checksums.ser
.DS_Store
/build
/captures
.externalNativeBuild
Leader-branch
.idea/vcs.xml
/.idea/caches
.firebaserc
/functions
firebase.json
*.ser
appengine/
.idea/caches/build_file_checksums.ser

.firebaserc
/functions
firebase.json
master
