<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hitstreamr.hitstreamrbeta">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hitstreamr_appiconploy"
        android:label="HitStreamr"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Authentication.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Authentication.Welcome" />
        <activity android:name=".Authentication.AccountType" />
        <activity android:name=".Authentication.BasicSignUp" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pop"
            android:theme="@style/AppTheme.PopUpMenu" />
        <activity android:name=".VideoUploadActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".Authentication.SignInActivity" />
        <activity android:name=".Authentication.ArtistSignUp" />
        <activity android:name=".Authentication.LabelSignUp" />
        <activity android:name=".LabelDashboard" />
        <activity android:name=".Authentication.PickGenre" />
        <activity android:name=".Account" />
        <activity android:name=".VideoPlayer" />
        <activity android:name=".Profile" />
        <activity android:name=".Authentication.ResetPassword" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".Library" />
        <activity android:name=".ReportVideoPopup"></activity>
    </application>

</manifest>